In [41]:
import numpy as np
import pandas as pd
from shapely.geometry import Point
from shapely.geometry.polygon import Polygon

In [45]:
bike_trips = pd.read_csv('D:\\Capstone Data\\2014citibike\\2014-01 - Citi Bike trip data.csv', skiprows=1, names=['tripduration', 'starttime', 'stoptime', 'start_id',
       'start_name', 'start_latitude',
       'start_longitude', 'end_id', 'end_name',
       'end_latitude', 'end_longitude', 'bikeid', 'usertype',
       'birth_year', 'gender'])

In [47]:
bike_trips.head()

,tripduration,starttime,stoptime,start_id,start_name,start_latitude,start_longitude,end_id,end_name,end_latitude,end_longitude,bikeid,usertype,birth_year,gender
0,471,2014-01-01 00:00:06,2014-01-01 00:07:57,2009,Catherine St & Monroe St,40.711174,-73.996826,263,Elizabeth St & Hester St,40.717290,-73.996375,16379,Subscriber,1986,1
1,1494,2014-01-01 00:00:38,2014-01-01 00:25:32,536,1 Ave & E 30 St,40.741444,-73.975361,259,South St & Whitehall St,40.701221,-74.012342,15611,Subscriber,1963,1
2,464,2014-01-01 00:03:59,2014-01-01 00:11:43,228,E 48 St & 3 Ave,40.754601,-73.971879,2022,E 59 St & Sutton Pl,40.758491,-73.959206,16613,Subscriber,1991,1
3,373,2014-01-01 00:05:15,2014-01-01 00:11:28,519,Pershing Square N,40.751884,-73.977702,526,E 33 St & 5 Ave,40.747659,-73.984907,15938,Subscriber,1989,1
4,660,2014-01-01 00:05:18,2014-01-01 00:16:18,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,436,Hancock St & Bedford Ave,40.682166,-73.953990,19830,Subscriber,1990,1

In [48]:
for row in bike_trips.itertuples():
    print(row.start_id, row.start_latitude)
    break

2009 40.71117444

In [49]:
regions = pd.read_csv('D:\\Capstone Data\\taxizones.csv')

In [34]:

def extract_bike_stations(bike_trips, region_polygons, distinct_stations = {'station id':[], 'station name':[], 'station latitude':[], 'station longitude':[], 'station zone':[]}):
    '''
    Function to extract the distinct bike locations from citi bike trips data, and attribute each station a zone from the taxi zones

    Args:
        bike_trips (pd.DataFrame): DataFrame with bike trip data
        region_polygons (dict): dictionary with taxi zone id's as the keys and polygon objects as the values
        distinct_stations (dict): dictionary containing stations and their information, defaults to blank dictionary structure

    Returns:
        dict: A processed version of distinct_stations, with the addition of any newly encountered station id's
    '''

    for _, row in bike_trips.iterrows():
        if row.loc['start station id'] not in distinct_stations['station id']:
            distinct_stations['station id'].append(row.loc['start station id'])
            distinct_stations['station name'].append(row.loc['start station name'])
            distinct_stations['station latitude'].append(row.loc['start station latitude'])
            distinct_stations['station longitude'].append(row.loc['start station longitude'])

            s_point = Point(row.loc['start station longitude'], row.loc['start station latitude'])
            zone_set = False
            for zone, poly in region_polygons.items():
                if poly.contains(s_point):
                    distinct_stations['station zone'].append(zone)
                    zone_set = True
                    break
            if not zone_set:
                distinct_stations['station zone'].append(np.nan)
        if row.loc['end station id'] not in distinct_stations['station id']:
            distinct_stations['station id'].append(row.loc['end station id'])
            distinct_stations['station name'].append(row.loc['end station name'])
            distinct_stations['station latitude'].append(row.loc['end station latitude'])
            distinct_stations['station longitude'].append(row.loc['end station longitude'])

            e_point = Point(row.loc['end station longitude'], row.loc['end station latitude'])
            zone_set = False
            for zone, poly in region_polygons.items():
                if poly.contains(e_point):
                    distinct_stations['station zone'].append(zone)
                    zone_set = True
                    break
            if not zone_set:
                distinct_stations['station zone'].append(np.nan)
    
    return distinct_stations

In [35]:
region_polygons = {}

for _, row in regions.iterrows():
    poly = eval(row.loc['the_geom'])['coordinates'][0][0]
    region_polygons[row.loc['location_id']] = Polygon(poly)


distinct_stations = extract_bike_stations(bike_trips, region_polygons)

In [51]:
eval(regions.iloc[0].loc['the_geom'])['coordinates'][0][0]

[[-74.18445299999996, 40.694995999999904],
 [-74.18448899999999, 40.69509499999987],
 [-74.18449799999996, 40.69518499999987],
 [-74.18438099999997, 40.69587799999989],
 [-74.18428199999994, 40.6962109999999],
 [-74.18402099999997, 40.697074999999884],
 [-74.18391299999996, 40.69750699999986],
 [-74.18375099999997, 40.69779499999988],
 [-74.18363399999998, 40.6983259999999],
 [-74.18356199999994, 40.698451999999875],
 [-74.18354399999998, 40.69855999999988],
 [-74.18350799999996, 40.69870399999992],
 [-74.18327399999998, 40.70008999999988],
 [-74.18315699999994, 40.701214999999884],
 [-74.18316599999997, 40.702384999999886],
 [-74.18313899999998, 40.7026279999999],
 [-74.18309399999998, 40.7028529999999],
 [-74.18299499999995, 40.70315899999985],
 [-74.18284199999994, 40.70346499999989],
 [-74.18264399999998, 40.70373499999988],
 [-74.18242799999996, 40.70395099999992],
 [-74.18220299999996, 40.704139999999896],
 [-74.18203199999994, 40.70425699999987],
 [-74.18180699999994, 40.7043919999999],
 [-74.18157299999996, 40.70449999999988],
 [-74.18132099999997, 40.70460799999991],
 [-74.18080799999996, 40.7047879999999],
 [-74.179467, 40.70534599999992],
 [-74.17887299999995, 40.70554399999987],
 [-74.17831499999994, 40.70572399999987],
 [-74.17776599999996, 40.70589499999988],
 [-74.17709099999996, 40.706092999999896],
 [-74.17699199999998, 40.70613799999988],
 [-74.17689299999995, 40.70619199999988],
 [-74.17664999999994, 40.70641699999988],
 [-74.17642499999994, 40.706695999999916],
 [-74.17628999999994, 40.70689399999988],
 [-74.17608299999995, 40.70710999999989],
 [-74.17599299999995, 40.70719099999991],
 [-74.17589399999997, 40.707262999999905],
 [-74.17565999999994, 40.70737999999988],
 [-74.17538099999996, 40.707469999999915],
 [-74.17515599999996, 40.707514999999894],
 [-74.17475999999994, 40.707595999999924],
 [-74.17417499999993, 40.70766799999991],
 [-74.17388699999998, 40.70773099999992],
 [-74.17347299999994, 40.707748999999865],
 [-74.17275299999994, 40.707802999999906],
 [-74.17188899999996, 40.707910999999854],
 [-74.17163699999998, 40.70795599999986],
 [-74.17133999999999, 40.707964999999895],
 [-74.17120499999999, 40.70795599999986],
 [-74.16994499999998, 40.707973999999886],
 [-74.16888299999994, 40.7079379999999],
 [-74.16681299999993, 40.70785699999989],
 [-74.16442799999999, 40.70779399999987],
 [-74.16401399999995, 40.70777599999992],
 [-74.16233999999997, 40.707721999999876],
 [-74.16081899999995, 40.70764099999991],
 [-74.16057599999993, 40.70760499999988],
 [-74.16033299999998, 40.70756899999987],
 [-74.160063, 40.7074879999999],
 [-74.15938799999998, 40.707262999999905],
 [-74.15904599999999, 40.707145999999916],
 [-74.15891999999997, 40.70710999999989],
 [-74.15827199999995, 40.70687599999993],
 [-74.15459099999998, 40.705651999999894],
 [-74.15409599999998, 40.70544499999989],
 [-74.15401499999997, 40.70538199999988],
 [-74.15387999999996, 40.705327999999895],
 [-74.15376299999997, 40.705408999999875],
 [-74.15323199999995, 40.70524699999987],
 [-74.15317799999997, 40.70531899999989],
 [-74.15306999999996, 40.7052829999999],
 [-74.15359199999995, 40.70437399999987],
 [-74.15386199999995, 40.7038429999999],
 [-74.15513999999996, 40.70155699999987],
 [-74.15544599999998, 40.70108899999988],
 [-74.15575199999995, 40.7006659999999],
 [-74.15600399999994, 40.70026099999991],
 [-74.15635499999996, 40.69975699999986],
 [-74.15745299999998, 40.69809199999988],
 [-74.15754299999998, 40.6979389999999],
 [-74.15758799999998, 40.69781299999988],
 [-74.15762399999994, 40.69767799999991],
 [-74.15829899999994, 40.696705999999885],
 [-74.15951399999994, 40.69488799999988],
 [-74.15958599999993, 40.69476199999984],
 [-74.16014399999995, 40.69410499999988],
 [-74.16057599999993, 40.693222999999875],
 [-74.16262799999998, 40.69028899999989],
 [-74.16279899999995, 40.69002799999989],
 [-74.16290699999996, 40.68987499999987],
 [-74.16292499999997, 40.689874999999866],
 [-74.16295199999996, 40.689874999999866],
 [-74.16306899999995, 40.68989299999988],
 [-74.16309599999994, 40.689928999999886],
 [-74.16322199999996, 40.68998299999989],
 [-74.16331199999996, 40.68999199999993],
 [-74.16341099999994, 40.69000099999988],
 [-74.16352799999999, 40.69000999999986],
 [-74.16380699999996, 40.69004599999989],
 [-74.16410399999995, 40.690081999999904],
 [-74.16417599999994, 40.690081999999904],
 [-74.16422999999998, 40.69005499999988],
 [-74.16436499999998, 40.69003699999991],
 [-74.16450899999995, 40.68998299999986],
 [-74.16467099999994, 40.68988399999989],
 [-74.16479699999996, 40.689757999999884],
 [-74.16491399999995, 40.689586999999904],
 [-74.16499499999998, 40.689388999999885],
 [-74.16528299999999, 40.68891199999991],
 [-74.16542699999997, 40.6887589999999],
 [-74.16548099999994, 40.68863299999987],
 [-74.16560699999997, 40.68842599999988],
 [-74.16576899999995, 40.68802999999986],
 [-74.16587699999997, 40.68787699999991],
 [-74.16583199999997, 40.68757999999987],
 [-74.16582299999999, 40.68748999999987],
 [-74.16580499999998, 40.687156999999914],
 [-74.16582299999999, 40.68703999999986],
 [-74.16589499999998, 40.6868419999999],
 [-74.16604799999999, 40.68655399999988],
 [-74.16639899999996, 40.686022999999864],
 [-74.16650699999997, 40.68588799999986],
 [-74.16674099999994, 40.685491999999925],
 [-74.16695699999997, 40.68523099999988],
 [-74.16738899999996, 40.684546999999924],
 [-74.16781199999997, 40.6839439999999],
 [-74.16791099999995, 40.68379099999988],
 [-74.16804599999995, 40.68360199999991],
 [-74.16816299999994, 40.683475999999885],
 [-74.16822599999995, 40.68334999999991],
 [-74.16848699999997, 40.68299899999991],
 [-74.16886499999998, 40.68239599999987],
 [-74.16916199999997, 40.68199999999991],
 [-74.16929699999997, 40.68178399999989],
 [-74.16947699999997, 40.68155899999991],
 [-74.16981899999996, 40.681018999999885],
 [-74.16995399999996, 40.680874999999915],
 [-74.17005299999994, 40.68066799999987],
 [-74.17041299999994, 40.6801549999999],
 [-74.17051199999997, 40.67999299999987],
 [-74.17067399999996, 40.679650999999886],
 [-74.17093499999999, 40.679290999999864],
 [-74.17144799999994, 40.67847199999989],
 [-74.17151999999999, 40.678381999999885],
 [-74.17160999999999, 40.678255999999884],
 [-74.17193399999996, 40.67782399999988],
 [-74.17200599999995, 40.67773399999988],
 [-74.17283399999997, 40.67656399999988],
 [-74.17314899999997, 40.67619499999991],
 [-74.17322999999999, 40.6760779999999],
 [-74.17329299999994, 40.67601499999989],
 [-74.17358999999993, 40.67571799999991],
 [-74.17423799999995, 40.67493499999991],
 [-74.17437299999995, 40.674817999999895],
 [-74.17484999999994, 40.67432299999992],
 [-74.17500299999995, 40.6741699999999],
 [-74.17538999999995, 40.67375599999987],
 [-74.17604699999998, 40.673044999999895],
 [-74.17630799999995, 40.67276599999986],
 [-74.17641599999996, 40.672621999999876],
 [-74.17663199999998, 40.67239699999989],
 [-74.17678499999994, 40.67218099999991],
 [-74.17697399999997, 40.6719379999999],
 [-74.17709099999996, 40.671784999999886],
 [-74.17734299999995, 40.67155999999988],
 [-74.17754999999994, 40.67142499999989],
 [-74.17778399999997, 40.671316999999874],
 [-74.17802699999999, 40.671208999999884],
 [-74.17862999999994, 40.671037999999896],
 [-74.17888199999999, 40.671001999999895],
 [-74.17912499999994, 40.67099299999991],
 [-74.17933199999999, 40.67101099999992],
 [-74.17979099999997, 40.67115499999989],
 [-74.17997999999994, 40.671208999999884],
 [-74.18010599999997, 40.671262999999904],
 [-74.18030399999998, 40.67129899999986],
 [-74.18133899999998, 40.67170399999986],
 [-74.18213999999996, 40.67202799999989],
 [-74.18384999999995, 40.672648999999886],
 [-74.18437199999994, 40.67290999999989],
 [-74.18458799999996, 40.67302699999988],
 [-74.18492099999997, 40.673269999999896],
 [-74.18503799999996, 40.67335999999989],
 [-74.18513699999994, 40.673458999999866],
 [-74.18547899999999, 40.67390899999987],
 [-74.18594699999994, 40.674664999999905],
 [-74.18670299999997, 40.67578999999992],
 [-74.18733299999997, 40.67674399999987],
 [-74.18767499999996, 40.67729299999991],
 [-74.18795399999995, 40.67761699999989],
 [-74.18819699999995, 40.67792299999992],
 [-74.18852099999998, 40.67848099999987],
 [-74.18877299999997, 40.67885899999989],
 [-74.18905199999995, 40.67933599999985],
 [-74.18935799999997, 40.67975899999988],
 [-74.18949299999997, 40.680091999999895],
 [-74.18969999999996, 40.680793999999885],
 [-74.18977199999995, 40.68113599999987],
 [-74.189781, 40.681198999999886],
 [-74.18983499999996, 40.68131599999987],
 [-74.18991599999998, 40.68154099999988],
 [-74.18996999999996, 40.6818019999999],
 [-74.18999699999995, 40.6822519999999],
 [-74.18999699999995, 40.68262999999992],
 [-74.18996999999996, 40.68295399999989],
 [-74.18998799999997, 40.68317899999989],
 [-74.18995199999995, 40.683520999999885],
 [-74.18993399999994, 40.68370999999992],
 [-74.189871, 40.684078999999876],
 [-74.189781, 40.68481699999991],
 [-74.18976299999997, 40.68503299999986],
 [-74.18962799999997, 40.686103999999915],
 [-74.18955599999998, 40.68689599999987],
 [-74.18951999999996, 40.6872019999999],
 [-74.18947499999996, 40.68748999999985],
 [-74.18939399999994, 40.68773299999988],
 [-74.18939399999994, 40.68783199999991],
 [-74.18941199999995, 40.687939999999855],
 [-74.18940299999997, 40.68809299999987],
 [-74.18934899999994, 40.68826399999989],
 [-74.18922299999997, 40.68862399999989],
 [-74.18898899999994, 40.68904699999991],
 [-74.18870099999998, 40.689442999999876],
 [-74.18779199999994, 40.690189999999866],
 [-74.18723399999999, 40.69059499999986],
 [-74.18636999999995, 40.69118899999991],
 [-74.18591099999998, 40.69144999999988],
 [-74.18563199999994, 40.69164799999987],
 [-74.18445299999996, 40.694995999999904]]

In [36]:
for (key, items) in distinct_stations.items():
    print(key, len(items))

station id 329
station name 329
station latitude 329
station longitude 329
station zone 329

In [37]:
bike_stations = pd.DataFrame(distinct_stations)
bike_stations.set_index('station id', inplace=True)

In [39]:
bike_stations[bike_stations['station zone']==np.nan]

Empty DataFrame
Columns: [station name, station latitude, station longitude, station zone]
Index: []

In [40]:
bike_stations.head()

,station name,station latitude,station longitude,station zone
station id,,,,
2009,Catherine St & Monroe St,40.711174,-73.996826,45.0
263,Elizabeth St & Hester St,40.717290,-73.996375,144.0
536,1 Ave & E 30 St,40.741444,-73.975361,137.0
259,South St & Whitehall St,40.701221,-74.012342,88.0
228,E 48 St & 3 Ave,40.754601,-73.971879,162.0